*{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
html{
    height:100vh;
}
.heading{
    width:100%;
    text-align: center;
    background-color: #3e1404;
    height:40px;
    padding:2%;
    color: white;
    font-family: sans-serif;
}
.container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./image/dothraki.jpeg');
    background-size: cover;
}
.input-container,.output-container{
    width: 60%;
    margin: 20px auto;
}
.input-field, .output-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:150px;
    margin:1%;
    justify-content: center;
}
.translate-btn{
    float: right;
    background-color: #3e1404;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}
.translate-btn:hover{
    transform: scale(1.1);
}
footer{
    background-color:#3e1404;
    color: white;
    display: absolute;
    padding: 5px;
}